<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div style="background-color: red; padding: 20px;">
            <h1><%= message %></h1>
        </div>
    </body>
</html>