html 
    head
        title Edit Student
    body
        h1 Edit Student
        form(action=`/student/${student._id}/edit`, method='POST')
            label(for='name') Name:
            input(type='text', name='name', id='name', value=student.name)
            br
            label(for='age') Age:
            input(type='number', name='age', id='age', value=student.age)
            br
            label(for='email') Email:
            input(type='email', name='email', id='email', value=student.email)
            br
            button(type='submit') Update Student