html
    head
        title New Student
    body
        h1 New Student
        form(method="POST" action="/student")
            div
                label(for="name") Name:
                input(type="text" id="name" name="name")
            div
                label(for="age") Age:
                input(type="number" id="age" name="age")
            div
                label(for="email") Email:
                input(type="text" id="email" name="email")

            div
                label(for="gender") Gender
                select(id="gender" name="gender")
                    option(value="") Select Gender
                    option(value="male")
                        | Male
                    option(value="female")
                        | Female
                    option(value="other")
                        | Other
            button(type="submit") Add Student
            div
                if errors
                    ul
                        each error in errors
                            li= error.message